<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <title>El ciego</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1>Bienvenido a EL CIEGO</h1>
    <p>Juego de cartas epico</p>
    <a href="/sala" class="irSala">ir a sala</a> <br>
    <div>
      <p>cantidad de jugadores: <span  class="contador"></span> </p>
      <ul class="nombres">
      </ul>
    </div>

    <input type="text" class="texto" placeholder="mensaje a enviar">
    <button type="submit" class="boton"> Enviar</button>

    <ul class="chat">
    </ul>
  </body>
</html>
