<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <title>El ciego</title>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1>EL CIEGO</h1>
    <p>Juego de cartas</p>
    <p>Bienvenido: <span class="nombre"></span></p>
    <a href="/sala" class="irSala">ir a sala</a> <br>
    
  </body>
</html>
