<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <title>El ciego</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <script src="/javascripts/sala.js"></script>
  </head>
  <body>


    <aside>
      <div>
        <p>cantidad de jugadores: <span  class="contador"></span> </p>
        <ul class="nombres">
        </ul>
      </div>
  
      <button type="submit" class="iniciar"> iniciar</button>
      <div class="turno">
        <p>turno de :<span class="turnoNombre"></span></p>
      </div>
      <div>
        <p >cartas en mazo: <span class="tamanioMazo"></span></p>
      </div>
      <button type="submit" class="cortar">cortar</button>
    </aside>

    <main>
      <div  class="alerta">
        <p class="message"></p>
        <button class="cerrar"> cerrar</button>
      </div>
      <div class="mazo">
        <img src="/images/cartas/dorso.png" alt="">
      </div>

      <div class="pila">PILA</div>
      <div class="jugador1 players">
        <div style="color: goldenrod;" class="playerName playerName1"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
        <div class="carta5"></div>
      </div>
      <div class="jugador2 players">
        <div class="playerName playerName2"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
      </div>
      <div class="jugador3 players">
        <div class="playerName playerName3"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
      </div>
      <div class="jugador4 players">
        <div class="playerName playerName4"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
      </div>

    </main>

  </body>
</html>
