<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <title>El ciego</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <script src="/javascripts/sala.js"></script>
  </head>
  <body>
    <aside>
      <div>
        <p>cantidad de jugadores: <span  class="contador"></span> </p>
        <ul class="nombres">
        </ul>
      </div>
  
      <input type="text" class="texto" placeholder="mensaje a enviar">
      <button type="submit" class="boton"> Enviar</button>
      <button type="submit" class="iniciar"> iniciar</button>
      <ul class="chat"></ul>

    </aside>

    <main>
      <div class="mazo">
        <img src="/images/cartas/dorso.png" alt="">
      </div>
      <!-- <img src="/images/cartas/Ace-of-Clubs.png" alt=""> -->

      <div class="pila"></div>
      <div class="jugador1 players">
        <div class="playerName playerName1"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
        <div class="carta5"></div>
      </div>
      <div class="jugador2 players">
        <div class="playerName playerName2"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
      </div>
      <div class="jugador3 players">
        <div class="playerName playerName3"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
      </div>
      <div class="jugador4 players">
        <div class="playerName playerName4"></div>
        <div class="carta1 carta"></div>
        <div class="carta2 carta"></div>
        <div class="carta3 carta"></div>
        <div class="carta4 carta"></div>
      </div>

    </main>

  </body>
</html>
